<!doctype html>
<html>
  <head><script src="http://static.lib.virginia.edu/js/controllers/webcomponents.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>uvalib-image</title>

    <script src="../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../iron-component-page/iron-component-page.html">
  </head>
  <body>
    <iron-component-page src="all.html"></iron-component-page>
  </body>
</html>
